@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- sidebar element declaration -->
<ejs-sidebar id="sidebar" width="290px">
	@*<e-content-template>
		<div class="title-header">
			<div style="display:inline-block"> Sidebar </div>
		</div>
	</e-content-template>*@
</ejs-sidebar>
<!-- end of sidebar element -->