@model ExpenseTracker.Models.Transaction

@{
    ViewData["PageTitle"] = @Model.TransactionId == 0 ? "Create a New Transaction" : "Edit Transaction";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" name="TransactionId" value="@Model.TransactionId" />

                @*Date*@
                <div class="mb-3">
                    <ejs-datepicker id="date" ejs-for="@Model.Date" placeholder="Date" floatLabelType="Auto" format="MMM-dd-yyyy"></ejs-datepicker>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                @*Category Id*@
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlCategory" ejs-for="CategoryId" dataSource="@ViewBag.Categories" placeholder="Category" floatLabelType="Auto">
                        <e-dropdownlist-fields value="CategoryId" text="TitleWithIcon">

                        </e-dropdownlist-fields>
                    </ejs-dropdownlist>
                </div>

                <div class="mb-3">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Note" class="control-label"></label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>

                <ejs-button id="submit" typeof="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>

    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
